@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-light: #6366f1;
  --color-brand: #4f46e5;
  --color-brand-dark: #4338ca;

  --font-sans: "Inter", system-ui, sans-serif;

  --color-ui-body: #ffffff;
  --color-ui-text: #111827;

  --color-ui-body-dark: #0f172a;
  --color-ui-text-dark: #f9fafb;
}

@layer base {
  body {
    @apply bg-ui-body text-ui-text font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark body {
    @apply bg-ui-body-dark text-ui-text-dark;
  }
}
